.right-panel-ai-chat {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.right-panel-ai-chat__content {
	flex-grow: 1;
	overflow: hidden;
	height: 100%;
}

.right-panel-ai-chat__background {
	position: absolute;
	inset: 0;
	margin-right: calc(var(--air-right-bar-width) * -1);
	z-index: -1;
	background: var(--air-theme-background-blurred);
}

.app__right-panel .right-panel-ai-chat__background::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.12);
	z-index: -1;
}

.app__right-panel .right-panel-ai-chat__background_header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--air-theme-bg-color);
	height: var(--air-header-height);
	opacity: 0.6;
	z-index: -1;
}

.app__right-panel .right-panel-ai-chat__background::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--air-theme-bg-color);
	opacity: 0.2;
	z-index: -1;
}

