.air-user-profile {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: var(--air-header-height);
	cursor: pointer;
	position: relative;
	--ui-color: var(--ui-color-base-7);
}

.air-user-profile::before {
	content: "";
	position: absolute;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--ui-color-bg-state-hover-alt);
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.air-user-profile:hover::before {
	opacity: 1;
}

.app__right-bar .air-user-profile::after {
	content: "";
	position: absolute;
	width: 24px;
	height: 1px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: var(--ui-color-divider-accent);

	opacity: 0;
	animation-name: air-user-profile-divider-appear;
	animation-duration: 1ms;
	animation-timeline: scroll(y root);
}

.app__right-bar:is(.--transparent, .--overlay-mode) .air-user-profile::after {
	animation-name: none;
	opacity: 1;
}

@keyframes air-user-profile-divider-appear {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

.air-user-profile__avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	outline-offset: 3px;
	--ui-color: var(--ui-color-base-7);
	outline: var(--ui-color) solid 1px;
	transition: outline-color 0.2s ease-in-out;
}

.air-user-profile__avatar.--collaber,
.air-user-profile__avatar.--extranet {
	--ui-color: var(--ui-icon-service-bg-color);
	outline-color: var(--ui-color);
}

.air-user-profile:hover .air-user-profile__avatar {
	outline-color: var(--ui-color-hover);
}

.air-user-profile i {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: var(--ui-icon-service-bg-color);
	background-image: var(--ui-icon-service-bg-image);
}

.air-user-profile-avatar__counter {
	position: absolute;
	top: 8px;
	left: 40px;
}

.air-user-profile-avatar__work-time-state {
	position: absolute;
	top: 35px;
	left: 40px;
}

.intranet-avatar-widget-base-popup {
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
	max-height: 97vh;
}

.intranet-avatar-widget-popup-base::-webkit-scrollbar {
	width: 0;
	height: 0;
}
