.ui-alert.ui-alert-primary.dataset-import-step__hint {
	--ui-alert-color: var(--ui-color-base-default);
}

.dataset-import-step__hint a {
	cursor: pointer;
}

.dataset-import-system-hint__message {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.dataset-import-system-hint__title {
	font-weight: 600;
	font-size: var(--ui-font-size-xl);
}

.dataset-import-system-hint__description {
	font-size: var(--ui-font-size-md);
	color: var(--ui-color-base-70, #525c69);
}
