.bx-im-ai-assistant-chat-opener__container {
	height: 100%;
}

.bx-im-ai-assistant-chat-opener__container .bx-im-content-chat__textarea_container {
	padding: 6px 10px 10px 10px;
}

.right-panel-ai-chat__content .bx-im-content-chat__textarea_container {
	padding-bottom: 0;
}

.bx-im-ai-assistant-widget-empty-state {
	display: flex;
	height: 100%;
}
