.tasks-compact-card-full-button-container.--disabled {
	cursor: not-allowed;
}

.tasks-compact-card-full-button-container.--disabled .tasks-compact-card-full-button {
	pointer-events: none;
}

.tasks-compact-card-full-button-auditors-hint {
	max-width: 330px;
}

.tasks-compact-card-full-button-auditors-hint-title {
	font-weight: var(--ui-font-weight-medium);
	font-size: var(--ui-font-size-2xl);
	line-height: var(--ui-font-line-height-md);
	margin-bottom: 5px;
	margin-right: 15px;
}

.tasks-compact-card-full-button-auditors-hint-content {
	font-weight: var(--ui-font-weight-normal);
	font-size: var(--ui-font-size-xs);
	line-height: var(--ui-font-line-height-md);
	margin-bottom: 5px;
	margin-right: 10px;
}

.tasks-compact-card-full-button-auditors-hint-link {
	/*color: var(--ui-color-accent-main-link);*/
	color: #BAD7FF;
	font-size: var(--ui-font-size-xs);
	font-weight: var(--ui-font-weight-normal);
	line-height: var(--ui-font-line-height-md);
	text-decoration: underline dashed;
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
}