.booking-booking_add-resource-container {
	display: flex;
	flex-direction: row;

	min-width: 45px;
	position: sticky;
	right: 0;
}

.booking-booking-header-add-resource-icon-container {
	position: sticky;
	right: 0;
	display: flex;
	align-items: center;
	margin-left: -1px;
	padding: calc(13px * var(--half-zoom)) calc(10px * var(--half-zoom));
	border-left: 1px solid var(--ui-color-base-10);
	background: var(--ui-color-background-primary);
	cursor: pointer;
}

.booking-booking-header-add-resource-icon-container.--hover {
	background: var(--ui-color-palette-blue-15);
}

.booking-booking-header-add-resource-icon {
	width: 22px;
	height: 22px;
	padding: var(--ui-space-inset-3xs);
	display: flex;
	background: var(--ui-color-accent-soft-blue-2);
	border-radius: var(--ui-border-radius-xs);
	justify-content: center;
	align-items: center;
}

.booking-booking-header-add-resource-icon.--lock {
	background: var(--ui-color-base-35);
}

.booking-booking-header-add-resource-icon .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-accent-soft-element-blue);
	--ui-icon-set__icon-size: calc(22px * var(--half-zoom));
}

.booking-booking-header-add-resource-icon.--lock .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-palette-white-base);
}

.booking-booking-header-add-resource {
	z-index: 1;
	box-sizing: border-box;
	min-width: 220px;
	margin-left: -1px;
	padding: calc(13px * var(--half-zoom)) calc(10px * var(--half-zoom)) calc(13px * var(--half-zoom)) 0;
	display: flex;
	align-items: center;
	border-right: 1px solid var(--ui-color-base-10);
	background: var(--ui-color-background-primary);
	cursor: pointer;
}

.booking-booking-header-add-resource.--hover {
	background: var(--ui-color-palette-blue-15);
}

.booking-booking-header-add-resource-text {
	color: var(--ui-color-base-60);
	font-size: calc(var(--ui-font-size-lg) * var(--quater-zoom));
	white-space: nowrap;
}

/* region week-mode */
.booking-booking__base-component.--week-mode .booking-booking_add-resource-container {
	min-width: var(--booking-left-panel-width);
	bottom: 0;
}

.booking-booking__base-component.--week-mode .booking-booking-header-add-resource-icon-container {
	padding: 13px 10px;
}

.booking-booking__base-component.--week-mode .booking-booking-header-add-resource-icon .ui-icon-set {
	--ui-icon-set__icon-size: 22px;
}

.booking-booking__base-component.--week-mode .booking-booking-header-add-resource {
	min-width: 184px;
	padding: 13px 10px 13px 0;
	border: none;
}

.booking-booking__base-component.--week-mode .booking-booking-header-add-resource-text {
	font-size: var(--ui-font-size-lg);
}

/* endregion*/
