.booking-booking-grid-left-panel-container {
	position: relative;
	min-width: var(--booking-left-panel-width);
}

.booking-booking-grid-left-panel {
	position: absolute;
	z-index: 2;
	box-sizing: border-box;
	padding: var(--padding-top) 0;
	height: max-content;
	min-width: 100%;
	background: #F7F7F8;
}
