.crm-mini-card__loader {
	background-image: url("./images/loader.svg");
	background-repeat: no-repeat;
	background-size: contain;
	flex: 1 1 100%;
	height: 449px;
	margin: 22px;

	animation: infinite;
}
