.bx-imol-chat-transfer-entity-selector__container {
	--imol-entity-selector-chat-transfer__color_popup-title: var(--ui-color-palette-black-base);
	--imol-entity-selector-chat-transfer__font-size: var(--ui-font-size-2xl);
	--imol-entity-selector-chat-transfer__font-weight: var(--ui-font-weight-semi-bold);
	--imol-entity-selector-chat-transfer__background-color_scroll: rgb(82 92 105 / 20%);

	display: flex;
	flex-direction: column;
	width: 400px;
	height: 600px;
}

.bx-imol-chat-transfer-entity-selector__container * {
	box-sizing: border-box;
}

.bx-imol-chat-transfer-entity-selector__container *::-webkit-scrollbar {
	width: 6px;
}

.bx-imol-chat-transfer-entity-selector__container *::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 32px;
}

.bx-imol-chat-transfer-entity-selector__container *:hover::-webkit-scrollbar-thumb {
	background-color: var(--imol-entity-selector-chat-transfer__background-color_scroll);
	border-radius: 32px;
}

.bx-imol-chat-transfer-entity-selector__container .popup-window-titlebar-text {
	font-size: var(--imol-entity-selector-chat-transfer__font-size);
	font-weight: var(--imol-entity-selector-chat-transfer__font-weight);
	color: var(--imol-entity-selector-chat-transfer__color_popup-title);
	padding-left: 16px;
}

.bx-imol-chat-transfer-entity-selector__buttons {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	height: 63px;
}

.bx-imol-chat-transfer-entity-selector__buttons .bx-im-button__container + .bx-im-button__container {
	margin-left: 12px;
}

.bx-imol-chat-transfer-entity-selector__input {
	padding: 0 16px 16px;
}

.bx-imol-chat-transfer-entity-selector__search-result-container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 0;
	overflow: hidden;
}
