.bx-im-content-folder-forms__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: auto;
	/* @chef-ignore */
	scrollbar-gutter: stable;
	padding: 24px 24px 95px;
	background-color: var(--ui-color-bg-content-secondary);
	position: relative;
}

.bx-im-content-folder-forms__header {
	display: flex;
	align-items: center;
	gap: 17px;
	margin-bottom: 30px;
}

.bx-im-content-folder-forms__icon {
	flex-shrink: 0;
	width: 78px;
	height: 78px;
	background-image: url(./images/folder.png);
	background-size: cover;
}

.bx-im-content-folder-forms__heading {
	margin-bottom: 24px;

	font: var(--im-font-size-md)/19px var(--im-font-family-system);
	color: var(--ui-color-base-2);
}

.bx-im-content-folder-forms__members_container {
	margin-bottom: 36px;
}

.bx-im-content-folder-forms__members_subtitle {
	margin-bottom: 6px;

	font: var(--im-font-size-xs) var(--im-font-family-system);
	color: var(--ui-color-base-4);
}

.bx-im-content-folder-forms__chat-selector_container {
	padding: 12px;
	background-color: var(--ui-color-white-base);
	border-radius: 6px;
}

.bx-im-content-folder-forms__chat-selector_container .ui-tag-selector-outer-container {
	border: none;
	padding: 0;
}