.sign-user-party-refused {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

.sign-user-party-refused-desc {
	margin-left: 8px;
	font: 13px var(--font_os_regular);
	color: var(--ui-color-palette-black-base);
}