.ui-system-dialog.biconnector-lock-popup-dialog .ui-system-dialog__content-wrapper {
	display: flex;
	width: 400px;
	min-height: 247px;
	padding: var(--ui-space-inset-xl) 0;
	box-sizing: border-box;
	flex-direction: column;
	align-items: flex-start;
}

.ui-system-dialog.biconnector-lock-popup-dialog--with-header .ui-system-dialog__content-wrapper {
	padding-top: 0;
}

.ui-system-dialog.biconnector-lock-popup-dialog .ui-system-dialog__content {
	display: flex;
	padding: 0 var(--ui-space-inset-xl);
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
}

.ui-system-dialog.biconnector-lock-popup-dialog--with-header .ui-system-dialog__content {
	margin-top: -15px;
}

.ui-system-dialog.biconnector-lock-popup-dialog .ui-system-dialog__footer {
	padding: 0 var(--ui-space-inset-xl);
	margin-top: var(--ui-space-stack-md2);
	align-self: stretch;
}

.ui-system-dialog.biconnector-lock-popup-dialog .ui-system-dialog__left-buttons,
.ui-system-dialog.biconnector-lock-popup-dialog .ui-system-dialog__center-buttons,
.ui-system-dialog.biconnector-lock-popup-dialog .ui-system-dialog__right-buttons {
	margin-bottom: 0;
}

.biconnector-lock-popup {
	display: flex;
	padding-bottom: var(--ui-space-inset-2xs2);
	flex-direction: column;
	align-items: center;
	gap: var(--ui-space-stack-md2);
	align-self: stretch;
	background-color: var(--ui-color-bg-content-primary);
}

.biconnector-lock-popup__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--ui-space-stack-2xs2);
	align-self: stretch;
}

.biconnector-lock-popup__icon {
	background: url("../images/lock_orange.png") center/contain no-repeat;
	width: 108px;
	height: 108px;
}

.biconnector-lock-popup__content {
	color: var(--ui-color-base-3);
}

.biconnector-lock-popup__content a {
	border-bottom: 1px dashed var(--ui-color-accent-main-link);
}
