.check-list-widget-container {
	width: 100%;
}

.check-list-widget {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}

.check-list-widget.--parent {
	margin-bottom: -54px;
}

.check-list-widget.--parent > li {
	margin-bottom: 54px;
}

.check-list-widget.--preview {
	margin-bottom: -6px;
}

.check-list-widget.--preview > li {
	margin-bottom: 6px;
}

.check-list-widget .check-list-widget {
	margin-bottom: 0;
}

.check-list-widget-item {
	display: flex;
	flex-direction: column;
}

.check-list-widget-item.--parent.element-highlight {
	--highlight-offset-y: 3px;
	--highlight-offset-x: 2px;
}

.check-list-widget-item.--parent.element-highlight .check-list-widget-parent-item {
	background: transparent;
}

.check-list-widget-item.--parent.--preview:not(.--hidden) {
	padding: 0 12px 0 12px;
}

.check-list-widget-item.--parent.--preview.--collapsed:not(.--hidden) {
	padding-bottom: 12px;
}

.check-list-widget-item.--parent:not(.--collapsed) {
	padding-bottom: 0;
}

.check-list-widget-item.--parent.--preview {
	background: var(--ui-color-base-8);
	border-radius: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.check-list-widget-item.--completed-list {
	background: var(--ui-color-base-8);
	border-radius: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: 0 12px 12px 12px;
	cursor: pointer;
}

.check-list-widget-item-attach {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	box-sizing: border-box;
	padding: 0 30px;
	cursor: default;
	max-height: 540px;
}

.check-list-widget-item-attach.--parent {
	padding: 0;
}

.check-list-widget-item-attach-users {
	display: flex;
	gap: 32px;
	width: 100%;
}

.check-list-widget-item-attach-users .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-3);
}

.check-list-widget-item-attach-users-list {
	display: flex;
	gap: 3px
}

.check-list-widget-item-attach-files {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-height: 210px;
}

.check-list-widget-item-attach-files-list {
	overflow-y: scroll;
	padding: 0 5px 15px 0;
}

.check-list-widget-item-attach-files-list-skeleton {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
	gap: 15px;
}

@supports not selector(::-webkit-scrollbar) {
	.check-list-widget-item-attach-files-list {
		scrollbar-color: rgba(0, 0, 0, 0.11) transparent;
		scrollbar-width: thin;
	}
}

.check-list-widget-item-attach-files-list::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	width: 5px;
}

.check-list-widget-item-attach-files-list::-webkit-scrollbar-track {
	background: transparent;
}

.check-list-widget-item-attach-files-list::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	cursor: pointer;
	transition: .2s;
}

.check-list-widget-parent-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 6px;
	position: sticky;
	top: 0;
	background: var(--ui-color-base-8);
	z-index: 2;
	will-change: transform;
	padding-top: 15px;
	border-radius: 18px;
	margin: 0 2px;
}

.check-list-widget-parent-item.--preview.--editable {
	cursor: pointer;
}

.check-list-widget-parent-item.element-highlight {
	border-radius: 10px;
}

.check-list-widget-parent-item:not(.--preview) {
	padding-left: 18px;
	padding-right: 18px;
}

.check-list-widget-parent-item:not(.--collapsed) {
	padding-bottom: 12px;
}

.check-list-widget-parent-item:not(.--collapsed)::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 24px;
	right: 24px;
	height: 1px;
	background: rgba(0, 0, 0, 0.04);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
	pointer-events: none;
}

.check-list-widget-parent-item.--preview:not(.--collapsed)::before {
	left: 6px;
	right: 6px;
}

.check-list-widget-parent-item-label-container .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}

.check-list-widget-parent-item-title-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
}

.check-list-widget-parent-item-title-container .check-list-widget-parent-item-title {
	min-height: 24px;
}

.check-list-widget-parent-item.--preview.--editable .check-list-widget-parent-item-title .b24-growing-text-area-edit {
	cursor: pointer;
}

.check-list-widget-parent-item-title-status {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--ui-color-base-3);
	font-size: var(--ui-font-size-sm);
	min-height: 18px;
}

.check-list-widget-parent-item-title-status-label {
	font-variant-numeric: tabular-nums;
}

.check-list-widget-parent-item-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.check-list-widget-parent-item-main-action {
	display: flex;
	align-items: center;
	gap: 16px;
}

.check-list-widget-parent-item-main-action-actions {
	display: flex;
	align-items: center;
	gap: 6px;
}

.check-list-widget-parent-item-main-action-actions .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
	cursor: pointer;
}

.check-list-widget-parent-item-empty {
	display: block;
	content: '';
	width: 24px;
	height: 24px;
}

.check-list-widget-child-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
	position: relative;
	box-sizing: border-box;
	min-height: 60px;
	padding: 12px 0;
}

.check-list-widget-child-item.--preview.--toggleable {
	cursor: pointer;
}

.check-list-widget-child-item.element-highlight {
	--highlight-offset-y: 2px;
	--highlight-offset-x: 2px;
}

.check-list-widget-child-item:not(.--preview) {
	padding-left: 18px;
	padding-right: 18px;
}

.check-list-widget-child-item::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 48px;
	right: 48px;
	border-bottom: var(--ui-border-width-thin) solid var(--ui-color-divider-default);
}

.check-list-widget-child-item.--preview:not(.--collapsed)::before {
	left: 32px;
	right: 32px;
}

.check-list-widget-child-item.--group-mode {
	cursor: default;
}

.check-list-widget-child-item.--group-mode-selected {
	background-color: var(--ui-color-bg-content-secondary);
}

.check-list-widget-child-item-base {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 4px;
	position: relative;
	box-sizing: border-box;
	min-height: 30px;
}

.check-list-widget-child-item-checkbox {
	margin-top: 5px;
	margin-left: 1px;
	cursor: pointer;
}

.check-list-widget-child-item-checkbox input {
	cursor: default;
}

.check-list-widget-child-item.--toggleable:not(.--group-mode) .check-list-widget-child-item-checkbox input {
	cursor: pointer;
}

.check-list-widget-child-item-checkbox.--important {
	margin-right: 6px;
}

.check-list-widget-child-item-title {
	width: 100%;
	margin-top: 5px;
}

.check-list-widget-child-item.--preview.--toggleable .check-list-widget-child-item-title .b24-growing-text-area-edit {
	cursor: pointer;
}

.check-list-widget-child-item-important {
	cursor: default;
	margin-top: 3px;
	width: 24px;
	height: 24px;
}

.check-list-widget-child-item-important .ui-icon-set {
	--ui-icon-set__icon-size: 24px;
	--ui-icon-set__icon-color: radial-gradient(100.66% 100.66% at 50% 100.66%, #FAA72C 0%, #FF5752 67.91%);
}

.check-list-widget-child-item-action {
	cursor: pointer;
	margin-top: 3px;
}

.check-list-widget-child-item-action .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
}

.check-list-widget-child-item-action-checkbox {
	width: 24px;
	height: 24px;
	margin-top: 5px;
	cursor: pointer;
}

.check-list-widget-child-item-action-checkbox input {
	cursor: pointer;
}

.check-list-widget-child-item-action-stub {
	width: 24px;
	height: 24px;
}

.check-list-widget-add-item {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 12px 0;
	cursor: pointer;
	box-sizing: border-box;
	min-height: 60px;
}

.check-list-widget-add-item:not(.--preview) {
	padding-left: 18px;
	padding-right: 18px;
}

.check-list-widget-add-item:not(.--preview)::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 48px;
	right: 48px;
	border-bottom: var(--ui-border-width-thin) solid var(--ui-color-divider-default);
}

.check-list-widget-add-item-icon .ui-icon-set {
	vertical-align: middle;
	--ui-icon-set__icon-color: var(--ui-color-base-3);
}

.check-list-widget-add-item-title {
	color: var(--ui-color-base-3);
	font-size: var(--ui-font-size-lg);
	font-weight: 400;
}

.check-list-widget-group-completed-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 6px;
	background: var(--ui-color-base-8);
	padding-top: 9px;
	border-radius: 18px;
}

.check-list-widget-group-completed-list-title {
	color: var(--ui-color-base-3);
	font-size: var(--ui-font-size-lg);
	font-weight: 400;
}

.check-list-widget-group-completed-list-icon .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}

.check-list-widget-group-completed-list-action {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.check-list-widget-group-completed-list-action .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-4);
}
