.biconnector-create-superset-error-svg {
	display: block;
	width: 220px;
	height: 141px;
	background-image: url("svg/error.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 23px;
}

.biconnector-create-superset-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.biconnector-create-superset-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.biconnector-create-superset-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 14px;
	text-align: center;
}
