.btn-add-field {background-image:url(images/add_field.gif);}
.btn-view-elements {background-image:url(images/view_elements.gif);}

.ajax-mode-err-container { margin: 0 0 16px 0; }

.crm-preset-country-msg-button {
	cursor: pointer;
}

.crm-preset-country-msg {
	margin-left: 10px;
}

.crm-preset-country-msg-title {
	font-weight: bold;
	margin-bottom: 10px;
}

.crm-preset-country-msg-text {
	margin-bottom: 20px;
}

.crm-preset-country-msg-actions {
	display: flex;
}

.crm-preset-country-msg-action-ok {
	display: inline-block;
	width: 50%;
	text-align: left;
}

.crm-preset-country-msg-action-cancel {
	display: inline-block;
	width: 50%;
	text-align: right;
}

