.booking--yandex-integration-wizard--app {
	height: 100%;
}

.yandex-integration-wizard-layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
}

.yandex-wizard__wrapper {
	display: flex;
	flex-direction: column;
	padding: 18px 20px 18px 22px;
	gap: 20px;
	position: relative;
	flex: 1;
	overflow-y: scroll;
}

.yandex-wizard__content.--loading {
	opacity: 0.6;
}

.yandex-wizard__loader {
	position: absolute;
	top: 50%;
	left: 50%;
}

.yandex-wizard__wrapper::-webkit-scrollbar {
	width: 5px;
}

.yandex-wizard__wrapper::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--ui-color-base-20);
}
