.tasks-field-users {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.tasks-field-users.--popup {
	overflow: auto;
	gap: 10px;
	font-size: var(--ui-font-size-lg);
}

.tasks-field-participant-list-empty {
	display: flex;
	align-items: center;
	max-width: max-content;
	cursor: pointer;
}

.tasks-field-participant-list-empty .ui-icon-set {
	margin-right: 6px;
	--ui-icon-set__icon-color: var(--ui-color-accent-main-primary);
}

.tasks-field-participant-list-empty-text {
	color: var(--ui-color-accent-main-primary);
}

.tasks-field-participant-list-more {
	max-width: max-content;
	margin-top: 8px;
	font-size: var(--ui-font-size-md);
	color: var(--ui-color-base-4);
	cursor: pointer;
}

.tasks-field-participant-list-more:hover {
	color: var(--ui-color-base-3);
}


.tasks-field-users.--popup {
	--scrollbar-width: 5px;
	overflow-y: scroll;
	margin-right: calc(-1* var(--scrollbar-width));
}

@supports not selector(::-webkit-scrollbar) {
	.tasks-field-users.--popup {
		scrollbar-color: rgba(0, 0, 0, 0.11) transparent;
		scrollbar-width: thin;
	}
}

.tasks-field-users.--popup::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	width: var(--scrollbar-width);
}

.tasks-field-users.--popup::-webkit-scrollbar-track {
	background: transparent;
}

.tasks-field-users.--popup::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	cursor: pointer;
	transition: .2s;
}
