.intranet-ai-chat-panel {
	--air-theme-background:
		var(--air-theme-bg-image, none)
		var(--air-theme-bg-position, 0 0) / var(--air-theme-bg-size, auto)
		var(--air-theme-bg-repeat, repeat)
		var(--air-theme-bg-attachment, scroll)
		var(--air-theme-bg-color, transparent);
	--air-theme-background-blurred:
		var(--air-theme-bg-image-blurred, none)
		var(--air-theme-bg-position, 0 0) / var(--air-theme-bg-size, auto)
		var(--air-theme-bg-repeat, repeat)
		var(--air-theme-bg-attachment, scroll);

	--ai-chat-panel-background-extend-right: 0;
	--ai-chat-panel-header-height: var(--air-header-height, 58px);

	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.intranet-ai-chat-panel__content {
	position: relative;
	z-index: 1;
	flex-grow: 1;
	overflow: hidden;
	height: 100%;
}

.intranet-ai-chat-panel__background {
	position: absolute;
	inset: 0;
	margin-right: var(--ai-chat-panel-background-extend-right);
	z-index: 0;
	background: var(--air-theme-background-blurred);
}

.intranet-ai-chat-panel__background::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.12);
	z-index: -1;
}

.intranet-ai-chat-panel__background::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--air-theme-bg-color);
	opacity: 0.2;
	z-index: -1;
}

.intranet-ai-chat-panel__background_header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: var(--ai-chat-panel-header-height);
	background-color: var(--air-theme-bg-color);
	opacity: 0.6;
	z-index: -1;
}
