.bx-im-list-recent-empty-state__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}

.bx-im-list-recent-empty-state__title {
	margin-bottom: 6px;
	font-size: 19px;
	line-height: 26px;
	font-weight: 500;
	color: var(--ui-color-base-1);
}

.bx-im-list-recent-empty-state__subtitle {
	width: 291px;
	margin-bottom: 20px;
	text-align: center;
	font-size: var(--im-font-size-xl);
	line-height: 21px;
	font-weight: 400;
	color: var(--ui-color-base-2);
}

.bx-im-list-recent-empty-state__image {
	width: 212px;
	height: 212px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 6px;
}

.bx-im-list-recent-empty-state__image.--base {
	width: 108px;
	height: 122px;
	background-image: url("./images/base.png");
}

.bx-im-list-recent-empty-state__image.--tasksTask {
	background-image: url("./images/tasks.png");
}

.bx-im-list-recent-empty-state__image.--calendar {
	background-image: url("./images/calendar.png");
}

.bx-im-list-recent-empty-state__image.--openChannel {
	background-image: url("./images/channel.png");
}

.bx-im-list-recent-empty-state__image.--collabChat {
	background-image: url("./images/collab.png");
}

.bx-im-list-recent-empty-state__image.--collab {
	background-image: url("./images/collab.png");
}

.bx-im-list-recent-empty-state__image.--copilot {
	background-image: url("./images/copilot.png");
}

.bx-im-list-recent-empty-state__image.--default {
	background-image: url("./images/default.png");
}

/* Custom variants */
.bx-im-list-recent-empty-state__image.--folder {
	background-image: url("./images/folder.png");
}