.b24-hover-pill {
	position: relative;
	min-width: 0;
	max-width: 100%;
	width: max-content;
	border-radius: var(--ui-border-radius-pill);
}

.b24-hover-pill:not(.--readonly) {
	cursor: pointer;
}

.b24-hover-pill:not(.--readonly):hover {
	--hover-color: rgba(var(--ui-color-palette-black-solid-rgb), 0.03);
	box-shadow: 0 0 0 2px var(--hover-color);
	background: var(--hover-color);
}

.b24-hover-pill:focus-visible {
	outline: 2px solid var(--ui-color-design-outline-a1-content-divider);
}

.b24-hover-pill-content {
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 2px 10px 2px 2px;
}


/* remover */
.b24-hover-pill-remover {
	position: absolute;
	right: -12px;
	top: -5px;
	padding: 2px;
	border-radius: var(--ui-border-radius-pill);
	border: 1px solid var(--ui-color-base-7);
	background: var(--ui-color-base-8);
	box-shadow: 0 1px 1px rgba(var(--ui-color-palette-black-solid-rgb), 0.03);
	line-height: 0;
	opacity: 0;
	cursor: pointer;
}

.b24-hover-pill:hover .b24-hover-pill-remover {
	opacity: 1;
}

.b24-hover-pill-remover .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-3);
	--ui-icon-set__icon-size: 16px;
}

.b24-hover-pill-remover:hover .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-2);
}
