/* normalize */
.tasks-field-importance {
	border-radius: 0;
	border: none;
	padding: 0;
	background-color: transparent;
	text-align: inherit;
	cursor: pointer;
}
/* normalize end */

.tasks-field-importance {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	margin: var(--margin-button);
	padding: var(--padding-button);
	line-height: 0;
}
.tasks-field-importance.--readonly {
	cursor: default;
}

.tasks-field-importance__icon {
	--ui-icon-set__icon-color: var(--color-icon);
	--ui-icon-set__icon-size: var(--size-icon);
}
.tasks-field-importance.--active .tasks-field-importance__icon {
	background: radial-gradient(circle at bottom, #FAA72C 0%, #FF5752 67%);
}
.tasks-field-importance.--active:hover .tasks-field-importance__icon {
	opacity: 0.8;
}
