.crm-copilot-call-assessment-call-list__theme {
	color: var(--ui-color-accent-main-link);
	text-decoration: none;
}

.crm-copilot-call-assessment-call-list__theme:hover {
	text-decoration: underline;
}

.crm-copilot-call-assessment-call-list__match-badge {
	display: inline-flex;
	align-items: center;
	height: 28px;
	padding: 0 10px;
	border-radius: 512px;
	font-size: var(--ui-font-size-md);
	line-height: var(--ui-font-line-height-md);
	font-weight: var(--ui-font-weight-regular);
}

.crm-copilot-call-assessment-call-list__match-badge.--high {
	background: var(--ui-color-design-tinted-green-bg);
	color: var(--ui-color-design-tinted-green-content);
}

.crm-copilot-call-assessment-call-list__match-badge.--default {
	background: var(--ui-color-design-tinted-bg);
	color: var(--ui-color-design-tinted-content);
}

.crm-copilot-call-assessment-call-list__match-badge.--low {
	background: var(--ui-color-design-tinted-alert-bg);
	color: var(--ui-color-design-tinted-alert-content);
}
