.bx-im-list-container-slider {
	--im-list-container-slider__background-color_container: var(--im-color-palette-white-base);
	--im-list-container-slider__background-color_separator: rgba(var(--im-color-palette-gray-90-rgb), 0.08);

	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: var(--im-list-container-slider__background-color_container);
}

.bx-im-list-container-slider__header {
	width: 100%;
	padding: 14px 10px 10px;
	border-bottom: 1px solid var(--im-list-container-slider__background-color_separator);
}

.bx-im-list-container-slider__header_content {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 38px;
}

.bx-im-list-container-slider__subheader_content {
	margin-top: 10px;
}

.bx-im-list-container-slider__content {
	flex: 1 1 auto;
	min-height: 0;
	overflow-y: auto;
}

/* Compact mode */
.bx-im-list-container-slider.--compact-mode {
	border-left: 1px solid var(--ui-color-base-7);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.21);
	border-top-left-radius: 18px;
}