.bx-im-sidebar-chat-shared__container {
	--im-sidebar-chat-shared__background_link-icon: url('data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2212%22%20viewBox%3D%220%200%2015%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.05369%200.138184C1.13322%200.138184%200.387024%200.884376%200.387024%201.80485V5.97152C0.387024%206.89199%201.13322%207.63818%202.05369%207.63818H2.26831V8.93108C2.26831%209.37653%202.80688%209.59961%203.12186%209.28463L4.12736%208.27913V5.10657C4.12736%203.72586%205.24665%202.60657%206.62736%202.60657H10.387V1.80485C10.387%200.884376%209.64083%200.138184%208.72036%200.138184H2.05369Z%22%20fill%3D%22%23008DBA%22%2F%3E%3Cpath%20d%3D%22M5.3768%205.37314C5.3768%204.45267%206.12299%203.70648%207.04347%203.70648H12.655C13.5754%203.70648%2014.3216%204.45267%2014.3216%205.37314V8.65592C14.3216%209.57528%2013.5773%2010.3208%2012.6583%2010.3226V11.3945C12.6583%2011.8674%2012.0625%2012.076%2011.7675%2011.7064L10.6632%2010.3226H7.04347C6.12299%2010.3226%205.3768%209.5764%205.3768%208.65592V5.37314Z%22%20fill%3D%22%23008DBA%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
	--im-sidebar-chat-shared__background_hover-link-icon: url('data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2212%22%20viewBox%3D%220%200%2015%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.05369%200.138184C1.13322%200.138184%200.387024%200.884376%200.387024%201.80485V5.97152C0.387024%206.89199%201.13322%207.63818%202.05369%207.63818H2.26831V8.93108C2.26831%209.37653%202.80688%209.59961%203.12186%209.28463L4.12736%208.27913V5.10657C4.12736%203.72586%205.24665%202.60657%206.62736%202.60657H10.387V1.80485C10.387%200.884376%209.64083%200.138184%208.72036%200.138184H2.05369Z%22%20fill%3D%22%2300789e%22%2F%3E%3Cpath%20d%3D%22M5.3768%205.37314C5.3768%204.45267%206.12299%203.70648%207.04347%203.70648H12.655C13.5754%203.70648%2014.3216%204.45267%2014.3216%205.37314V8.65592C14.3216%209.57528%2013.5773%2010.3208%2012.6583%2010.3226V11.3945C12.6583%2011.8674%2012.0625%2012.076%2011.7675%2011.7064L10.6632%2010.3226H7.04347C6.12299%2010.3226%205.3768%209.5764%205.3768%208.65592V5.37314Z%22%20fill%3D%22%2300789e%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
	--im-sidebar-chat-shared__background_link-icon_arrow: url('data:image/svg+xml,%3Csvg%20width%3D%227%22%20height%3D%2210%22%20viewBox%3D%220%200%207%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.440308%201.22895L3.45834%204.24699L4.24006%204.9999L3.45834%205.75326L0.440308%208.7713L1.50529%209.83627L6.34139%205.00017L1.50529%200.164062L0.440308%201.22895Z%22%20fill%3D%22%23BDC1C6%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
	--im-sidebar-chat-shared__color_title: #008dba;
	--im-sidebar-chat-shared__color_title-hover: #00789e;
	--im-sidebar-chat-shared__color_counter: #fff;
	--im-sidebar-chat-shared__background-color_counter: #c9ccd0;

	display: flex;
	justify-content: space-between;
	cursor: pointer;
	height: 20px;
	position: relative;
}

.bx-im-sidebar-chat-shared__container:not(:last-child) {
	margin-bottom: 8px;
}

.bx-im-sidebar-chat-shared__title-container {
	display: flex;
	align-items: center;
}

.bx-im-sidebar-chat-shared__icon {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	background: var(--im-sidebar-chat-shared__background_link-icon);
}

.bx-im-sidebar-chat-shared__icon:hover,
.bx-im-sidebar-chat-shared__title-container:hover .bx-im-sidebar-chat-shared__icon {
	background: var(--im-sidebar-chat-shared__background_hover-link-icon);
}

.bx-im-sidebar-chat-shared__title-text {
	font: var(--im-font-size-md)/var(--im-font-line-height-2xs) var(--im-font-family-system);
	font-weight: var(--im-font-weight-semi-bold);
	color: var(--im-sidebar-chat-shared__color_title);
	margin-left: 10px;
}

.bx-im-sidebar-chat-shared__title-text:hover {
	color: var(--im-sidebar-chat-shared__color_title-hover)
}

.bx-im-sidebar-chat-shared__arrow {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	background: var(--im-sidebar-chat-shared__background_link-icon_arrow);
}
