.vhi-grid-button-panel {
    padding-bottom: 15px;
    text-align: right;
}

.popup-window-item-height-auto .ui-selector-item-box {
    height: auto;
}

.popup-window-item-height-auto .ui-selector-item-box .ui-selector-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
