.hr-dnd-confirmation_block {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-weight: var(--ui-font-weight-normal);
	font-size: var(--ui-font-size-md);
	color: var(--ui-color-palette-gray-90);
	padding-bottom: 10px;
	line-height: var(--ui-font-line-height-2xs);
}

.ui-ctl.hr-dnd-confirmation_select {
	margin-top: 10px;
}

.ui-ctl.hr-dnd-confirmation_checkbox {
	margin-bottom: 0;
	margin-top: 10px;
	min-height: 0;
}

.ui-ctl + .ui-ctl.hr-dnd-confirmation_checkbox {
	margin-left: 1px;
}

.hr-dnd-confirmation_notice {
	max-width: 305px;
}