.bx-im-chat-content-disclaimer__container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 0 6px;
}

.bx-im-chat-content-disclaimer__text {
	font: var(--ui-font-size-3xs) var(--im-font-family-system);
	line-height: var(--ui-font-line-height-3xs);
	color: var(--ui-color-chat-overall-base-white-1);
	text-align: center;
}

.bx-im-chat-content-disclaimer__link {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: var(--ui-color-chat-overall-base-white-2);
	text-underline-position: under;
	cursor: pointer;
}

.bx-im-chat-content-disclaimer__link:hover {
	text-decoration-color: var(--ui-color-chat-overall-base-white-1);
}

.bx-im-chat-content-disclaimer__link:active {
	text-decoration-color: var(--ui-color-chat-overall-base-white-1);
}