#SIGN_B2E_SIGNERS_LIST_GRID_table .sign-personal-grid-user {
	text-decoration: none;
	padding: 3.5px 13px 3.5px 4px;
	border-radius: 14.5px;
	display: inline-flex;
	align-items: center;
	justify-content: start;
	transition: 250ms linear all;
}

.sign-personal-grid-user:hover {
	background: #C0EDFD;
	transition: .1s;
	opacity: 1;
}

.sign-personal-grid-user-name {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #525C69;
	text-decoration: none;
	border-bottom: none;
	padding-left: 11px;
}

.sign-signers-list-title {
	color: var(--ui-color-link-primary-base);
	text-decoration: none !important;
}

.sign-signers-list-title:hover {
	border-bottom: 1px solid var(--ui-color-link-primary-base);
	padding-bottom: 2px;
	text-decoration: none;
}

.sign-signers-list-title-without-link {
	margin: 0;
}
