.bx-imol-quick-command-popup__container {
	padding: 0;
	overflow: hidden;
}

.bx-imol-quick-command-popup__container .popup-window-content {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-bottom: 12px;
	overflow: hidden;
}

.bx-imol-quick-command-popup__header {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	padding: 16px 20px 12px 24px;
	color: var(--ui-color-palette-black-base);
	font-size: var(--ui-font-size-xl);
	font-weight: var(--ui-font-weight-medium);
	line-height: var(--ui-font-line-height-2xl);
}

.bx-imol-quick-command-popup__header-actions {
	display: flex;
	align-items: flex-start;
	gap: 12px;
}

.bx-imol-quick-command-popup__hint-icon {
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-40);
	--ui-icon-set__icon-size: 24px;

	display: inline-flex;
}

.bx-imol-quick-command-popup__close {
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-40);
	--ui-icon-set__icon-size: 24px;

	cursor: pointer;
	flex-shrink: 0;
}

.bx-imol-quick-command-popup__list {
	flex: 1;
	overflow-y: auto;
	max-height: 300px;
}

.bx-imol-quick-command-popup__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	padding: 8px 24px;
	font-size: var(--ui-font-size-lg);
	line-height: var(--ui-font-line-height-md);
	color: var(--ui-color-palette-black-base);
	cursor: pointer;
	outline: none;
	transition: background-color 200ms ease;
}

.bx-imol-quick-command-popup__item:hover,
.bx-imol-quick-command-popup__item:focus {
	background-color: var(--ui-color-bg-state-hover-default);
}

.bx-imol-quick-command-popup__item-command {
	flex-shrink: 0;
	font-weight: var(--ui-font-weight-medium);
}

.bx-imol-quick-command-popup__item-description {
	color: var(--ui-color-palette-gray-50);
	font-size: var(--ui-font-size-xs);
	text-align: right;
}
