.bx-im-collab-header__add-people-icon {
	width: 22px;
	height: 22px;
	background-color: var(--ui-color-base-2);
	mask-image: url('./images/add-people.svg');
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	cursor: pointer;
	opacity: 0.35;
}

.bx-im-collab-header__add-people-icon:hover {
	opacity: 0.7;
}

.bx-im-collab-header__add-people-icon.--active {
	background-color: #00ade3; /* no matching token */
	opacity: 1;
}

.bx-im-collab-header__add-people-icon.--with-guest {
	background-color: var(--ui-color-collab-accent-primary);
	opacity: 1;
}

.bx-im-collab-header__add-people-icon.--with-guest:hover {
	background-color: var(--ui-color-collab-accent-primary-alt);
}

.bx-im-collab-header__add-people-icon.--with-guest.--active {
	background-color: var(--ui-color-collab-element-1);
}

.bx-im-collab-header__add-to-chat {
	--im-pulse-animation__border-color_ring: var(--im-color-collab-40);

	margin-right: 12px;
}
